//Main styles

.container{
	width:940px;
	margin: 30px auto;
		.clock{
			.digit{ 
				float: left;
				font-size:180px;
				font-weight: bold;
			}
			.seperator{ float: left; font-size:180px;}
		}
}